modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41726653
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd KidCraftFlashcards && npm install && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
